* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* slider */
.slider {
  overflow: hidden;
  position: relative;
  background-color: #fff;
  width: 400px;
  height: 250px;
  border-radius: 3px;
}

.slider_slides_cont {
  display: flex;
  flex-direction: row;
  will-change: transform;
}

.slider_slides_cont > * {
  font-size: 150px;
  text-align: center;
}



/* buttons */
.slider_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: #f00;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
}

.slider_button:hover {
  cursor: pointer;
  background-color: #a00;
}

.slider_button.slider_left {
  left: 10px;
}

.slider_button.slider_right {
  right: 10px;
}

.slider_button.slider_left:before {
  content: '<';
}

.slider_button.slider_right:before {
  content: '>';
}



/* bullets */
.slider_bullets_cont {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.slider_bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #222;
  box-shadow: inset 0 0 0 5px #aaa;
  margin: 0 7px;
}

.slider_bullet:hover,
.slider_bullet.active {
  cursor: pointer;
  background-color: #f00;
  box-shadow: inset 0 0 0 5px #faa;
}
